<div id="good-<%= article.id %>">
  <%= form_with(model: article.goods.build, url: article_goods_path(article_id: article.id), remote: true) do |f| %>
      <%= f.button :type => "submit", class: "good-btn" do %>
        <i class="far fa-thumbs-up fa-fw"></i>
      <% end %>
    <%= article.good_count %>
  <% end %>
</div>