<% if object.errors.any? %>
  <div class="alert alert-danger error_explanation">
    <ul>
      <% object.errors.full_messages.uniq.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>