<div id="good-<%= comment.id %>">
  <%= form_with(model: comment.goods.build, url: comment_goods_path(comment_id: comment.id), remote: true) do |f| %>
      <%= f.button :type => "submit", class: "good-btn" do %>
        <i class="far fa-thumbs-up fa-fw"></i>
      <% end %>
    <%= comment.good_count %>
  <% end %>
</div>