.page-color {
  background-color: #f2e2b1;
}

.page-title {
  margin: 30px 0 10px 0;
}

.header {
    .link {
      text-decoration:none;
      color: white;
    }
    .post-link {
      font-size: 12px;
      margin-right: 30px;
    }
    &-title {
      color: white;
      font-size: 20px;
    }
    &-icon {
      border-radius: 3px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
    &-login-button,
    &-signup-button,
    &-logout-button
    {
        text-decoration:none;
        color: white;
    }
    .user-name {
      margin-right: 30px;
    }
}


.article {
  margin: 20px 0px;
    &-title {
      float: left;
    }
    .user-name {
      font-size: 15px;
      float: right;
    }
    .link {
      text-decoration:none;
      color: black;
    }
    .delete-section {
      width: 30px
    }
  }


.good-form {
  float: left
}

.article-delete-button {
  width: 30px;
}

.comment {
  &-area {
    padding: 30px 0px 60px 0px;
    .element {
      padding: 0px 0px 30px 0px;
      .delete-section {
        width: 30px
      }
    }
  }
  &-form {
    margin-top: 40px;
  }
}

.good-btn {
  border-style: none;
  background-color: white;
}

.ungood-btn {
  border-style: none;
  background-color: white;
  color: #fecb81;
}

.trash-button {
  border-style: none;
  background-color: white;
}

.user-card {
  width: 910px;
  .user_image {
    margin: 20px;
  }
}

.error_explanation {
  width : 700px;
}