.page-title {
  margin-top: 40px;
}

.header {
    &-title {
        font-size: 20px;
    }
    &-icon {
        border-radius: 3px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }    
    &-login-button,
    &-signup-button,
    &-logout-button
    {
        text-decoration:none;
        color: white;
    }
}

.card {
  &-article {
    margin: 50px 0px;
    &-title {
      text-decoration:none;
      color: black;
    }
  }
}

.good-btn {
  border-style: none;
  background-color: white;
}

.ungood-btn {
  border-style: none;
  background-color: white;
  color: #fecb81;
}