.page-title {
  margin-top: 40px;
}

.header {
    &-title {
        font-size: 20px;
    }
    &-icon {
        border-radius: 3px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
    &-login-button,
    &-signup-button,
    &-logout-button
    {
        text-decoration:none;
        color: white;
    }
    .user-name {
      margin-right: 30px;
    }
}

.card {
  &-article {
    margin: 50px 0px;
    &-title {
      text-decoration:none;
      color: black;
    }
    .user-name {
      float: right
    }
    .delete-section {
      width: 30px
    }
  }
}

.good-form {
  float: left
}

.article-delete-button {
  width: 30px;
}

.comment {
  &-area {
    padding: 30px 0px 60px 0px;
    .element {
      padding: 20px 0px 20px 0px;
      .delete-section {
        width: 30px
      }
    }
  }
  &-form {
    padding-bottom: 30px; 
  }
}

.good-btn {
  border-style: none;
  background-color: white;
}

.ungood-btn {
  border-style: none;
  background-color: white;
  color: #fecb81;
}

.trash-button {
  border-style: none;
  background-color: white;
}