<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">
    <%= image_tag 'icon.png', width: "30", height: "30", class: "d-inline-block align-top"%>
    <span>blog</span>
  </a>  
  <div class="float-right">
    <div class="btn btn-success">login</div>
    <div class="btn btn-info">sign up</div>
  </div>
</nav>